<div class="card" style="height: 40vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://t3.ftcdn.net/jpg/05/00/81/96/240_F_500819621_7bRfuKkKyaRYU6aJ1Sa9RBCPdscka6Iq.jpg)">
  <div class="card-category">
    <h4>Collections</h4>
  </div>
</div>

<div class="container">
  <div class="btn-center">
    <p class="link-btn"><%= link_to "Add list", new_list_path(@bookmark) %></p>
  </div>

  <div class="cards">
    <% @lists.each do |list|%>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://t4.ftcdn.net/jpg/02/71/50/69/360_F_271506927_WWFfd92jDIIDx6DgMflakU14o5jRPgBm.jpg)">
        <h5> <%= link_to list.name, list %> </h5> <br>
      </div>
    <% end %>
  </div>
</div>
