<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpapers.com/images/featured/black-and-white-movie-3n3oyvkx3q5t49rb.jpg);">
  <div class="container">
    <h1><strong>Your</strong> Collections</h1>
    <h6>All in one place</h6>
  </div>
</div>


<div class="container">
  <div class="btn-center">
    <p class="link-btn"><%= link_to "Add list", new_list_path(@bookmark) %></p>
  </div>

  <div class="cards">
    <% @lists.each do |list|%>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.image_url %>')">
        <h5> <%= link_to list.name, list %> </h5> <br>
      </div>
    <% end %>
  </div>
</div>
