// Import page-specific CSS files here.
@import "home";

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    filter: brightness(150%);
  }
}



.link-btn {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  background-color: #0056b3;
  padding: 8px 64px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  &:hover {
    background-color: #003369;
    border-color: #004288;
    border-width: 2px;
    border-radius: 5px;
  }
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  h4 {
    font-size: 100px;
    color: whitesmoke
    };
  a {
      text-decoration: none;
      font-size: 30px;
      color: whitesmoke
    };
}

// Small devices (landscape phones, 576px and
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
